
.foto-profil img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}


.form-user input{
    border: 1px solid;
}

.form-user textarea{
    border: 1px solid;
    font-size: medium;
}

.dashboard-user a{
    text-decoration: none;
}

.dashboard-user:hover{
    transition: 0.5s;
    background-color: aquamarine;
}